{{>error-signin}}

<div class="container is-flex is-flex-direction-column is-align-items-center">
   <div class="container box signin p-6">
      <form action="/auth/signin" method="POST">
         <h3 class="mb-5 is-size-4 has-text-centered">Iniciar Sesión</h3>
         {{!-- Correo --}}
         <div class="control">
            <div class="control">
               <label for="email" class="label">Correo Electrónico</label>
               <div class="control has-icons-left">
                  <span class="icon is-small is-left">
                     <ion-icon name="mail-outline"></ion-icon>
                  </span>
                  <input type="email" class="input" id="email" name="email" placeholder="Ingrese su correo electrónico">
               </div>
            </div>

            {{!-- Password --}}
            <div class="control mt-5">
               <div class="control">
                  <label for="password" class="label">Contraseña</label> 
                  <div class="control has-icons-left">
                     <div class="icon is-small">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                     </div>
                     <input type="password" class="input" id="password" name="password" placeholder="Ingrese su contraseña">
                  </div>
               </div>
            </div>

            <div class="is-flex is-flex-direction-column is-align-items-center">
               <button class="button is-rounded is-primary mt-5">
                  Iniciar Sesión
               </button>
               <p class="mt-4">No tienes cuenta? <a href="/auth/signup">Crea una!</a></p>
            </div>
         </div>
      </form>
   </div>
</div>