<div class="container error-container is-flex is-flex-direction-column is-align-items-center">
    <div class="notification is-success mt-1">
        <button class="delete" onclick="this.parentElement.style.display='none'"></button>
        <span class="icon-text">
        <span class="icon">
            <ion-icon name="checkmark-circle"></ion-icon>
        </span>
        <span><strong>{{edit_post}}</strong></span>
        </span>
    </div>
</div>