<footer class="footer has-background-primary mt-auto">
    <div class="content">
        <div class="columns">
            <div class="column has-text-centered">
                <p><strong class="is-size-5 has-text-white">Acerca de Info-Blog</strong></p>
                <p class="has-text-justified has-text-white is-size-6">
                    <p class="has-text-white">
                        Info-Blog es un sitio hecho con node y express con propositos educativos. 
                        Podes visitar mi página de GitHub para más información y acceso al repositorio.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor quo cum ullam? 
                        Quisquam hic, voluptatem, placeat assumenda voluptatum commodi.
                    </p>
                </p>
            </div>
            <div class="column has-text-white has-text-centered">
                <p class="is-size-5 has-text-weight-bold mb-0">Tienes una duda?</p>
                <p class="is-size-5 has-text-weight-bold mt-0">Contactanos!</p>
                <a href="https://www.facebook.com" target="_blank" class="has-text-white is-size-3"><ion-icon name="logo-facebook"></ion-icon></a> 
                <a href="https://www.instagram.com" target="_blank" class="has-text-white is-size-3"><ion-icon name="logo-instagram"></ion-icon></a> 
                <a href="https://www.twitter.com" target="_blank" class="has-text-white is-size-3"><ion-icon name="logo-twitter"></ion-icon></a> 
                <a href="https://www.github.com" target="_blank" class="has-text-white is-size-3"><ion-icon name="logo-github"></ion-icon></a> 
            </div>
        </div>
    </div>
</footer>