{{>navbar}}

<div class="hero is-medium has-background-primary-light py-5">
    <div class="hero-body is-flex is-flex-direction-column gap">
        <h2 class="line title-home is-size-2"><span>Bienvenid@ a Info-Blog!</span></h2>
        <h3 class="mt-3 has-text-centered is-size-4">Un sitio donde puedes compartir tus ideas!</h3>

        <div class="">
            <p class="mt-5 mb-2 has-text-centered is-size-5">Aún no eres parte?</p>
            <p class="mb-5 has-text-centered is-size-5">Crea tu cuenta ahora y comienza a compartir tus ideas con otros miembros!</p>
        </div>
        <div class="is-flex is-justify-content-center">
            <a href="/auth/signup" class="button is-rounded is-large is-primary">Crear Cuenta</a>
        </div>
    </div> 
</div>

{{>footer}}