{{>navbar}}

<div class="container">

    <div class="control is-flex is-flex-direction-column is-align-items-center">
        <h2 class="m-4 mx-5 is-size-3">Editando Post</h2>
        <form action="/posts/{{post._id}}?_method=PUT" method="POST">

            <div class="box mx-4 form-box">
                <div class="control mx-5">
                    <div class="control mb-3">
                        <div class="field">
                            <label for="title" class="label">Título</label>
                            <div class="control">
                                <input type="text" class="input" id="title" name="title" value="{{post.title}}" required>
                            </div>
                        </div>
                    </div>

                    <div class="control mb-3">
                        <div class="field">
                            <label for="body" class="label">Cuerpo</label>
                            <div class="control">
                                <textarea class="textarea" id="body" name="body" rows="3" placeholder="" required>{{post.body}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mx-5 is-flex is-justify-content-space-between">
                    <a href="/posts/{{post.slug}}" class="button is-link is-outlined mt-4">
                        <span class="icon-text">
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                </svg>
                            </span>
                            <span>Volver</span>
                        </span>
                    </a>
                    <button class="button is-primary mt-4">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
