{{>navbar}}

{{#if delete_post}}
    {{>delete_post}}
{{/if}}

<div class="container">
    <div class="mt-6 mx-5 is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center">
        <h2 class="is-size-3">Todos los Posts</h2>
        <form action="/posts/search?={{searchInput}}" method="get">                
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" id="search" name="searchInput" type="searchInput" autocomplete="off" placeholder="Buscar Posts por Título" value="">
                    </div>
                    <div class="control">
                        <button class="button is-info">
                            <span class="icon">
                                <ion-icon name="search"></ion-icon>
                            </span>
                        </button>
                    </div>
                </div>             
        </form>      
    </div>

    {{>posts}}
    
</div>
