{{>navbar}}

<div class="container">
    <div class="mt-6 mx-5 is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center">
        <h2 class="is-size-3">Todos los Posts de @{{ name_poster }}</h2>    
        <a href="../" class="button is-link is-size-6-mobile">
            <span class="icon-text">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </span>
                <span>Todos los Posts</span>
            </span>
        </a>    
    </div>

    {{>posts}}
    
</div>

